<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <br>
      <h2>Une question ? une idée ?</h2>
      <p>Tous bon project commence par une bonne discution</p>
      <a class="button is-white is-medium" href="/Contact">Contact</a>
    </div>
  </div>
</section>
<section class="hero" style="padding: 2em;">
  <h2>Mes réseaux</h2>
  <div class="container has-text-centered">
    <div class="buttons">
      <a class="button" href="/">
        <span class="icon">
          <i class="fab fa-linkedin-in"></i>
        </span>
        <span>Linkedin</span>
      </a>
      <a class="button" href="/">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span>
      </a>
    </div>
  </div>
</section>
<footer class="hero is-dark is-bold">
  <h1>DEVELOPPEUR WEB</h1>
  <small>&copy; Copyright <%= years %>, Tous droits réserver, fait par Etienne Juzans</small>
</footer>


<script type="text/javascript">
  const header = document.querySelector("header")
  const adds_class_on_scroll = () => header.classList.add("Menu")
  const add_class_on_scroll = () => header.classList.add("MenuScroll")

  const removes_class_on_scroll = () => header.classList.remove("Menu")
  const remove_class_on_scroll = () => header.classList.remove("MenuScroll")

  function ScrollHeader() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 80) {
      add_class_on_scroll() 
      removes_class_on_scroll()
    } else {
      adds_class_on_scroll() 
      remove_class_on_scroll() 
    }
  }
  window.onscroll = function() {ScrollHeader()};

  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>

</body>
</html>