<header id="Menu" class="Menu">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item Logo" href="/">
          Etienne Juzans
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item ListeMenu" href="/">
            Home
          </a>
    
          <a class="navbar-item ListeMenu" href='/Service'>
            Service
          </a>
    
          <a class="navbar-item ListeMenu" href='/Projets'>
            Projets
          </a>

          <a class="navbar-item ListeMenu" href='/Cv'>
            Cv
          </a>
    
        </div>
    
        <div class="navbar">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary ContactButton" href="/Contact">
                <strong>Contact</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>