$breakpoint-tablet: 768px;

// ********** **********
// ********** SASS / CSS MENU
// ********** **********
.Menu {
    position: fixed;
    width: 100%;
    background:#fff;
    box-shadow: 0 0 0.4em #9E9E9E;
    z-index: 999;
    transition: 0.7s;
    .navbar {
        background-color: #fff;
        transition: 0.7s;
        .Logo {
            color: #000;
            display: block;
            padding: 0.9rem .75rem 0rem .75rem;
            font-weight: bold;
            font-family: 'IBM Plex Mono', monospace;
            &:hover {
                &:after {
                    width: 100%;
                    background:#000;
                    margin-top: 0.1em;
                }
            }
            &:after {
                content: '';
                display: block;
                margin: auto;
                margin-top: auto;
                height: 0.2em;
                width: 0;
                background:transparent;
                transition: width .15s ease,background-color .5s ease;
                margin-top: 0.375em;
            }
        }
        .ListeMenu {
            color: #000;
            display: block;
            padding: 1rem 1rem 0rem 1rem;
            &:hover {
                background:#fff;
                transition: 0.7s;
                &:after {
                    width: 100%;
                    background:#000;
                    margin-top: 0.1em;
                }
            }
            &:after {
                content: '';
                display: block;
                margin: auto;
                margin-top: auto;
                height: 0.2em;
                width: 0;
                background:transparent;
                transition: width .15s ease,background-color .5s ease;
                margin-top: 0.375em;
            }
        }
        @media (max-width: $breakpoint-tablet) {
            .navbar-menu {
                padding: 0;
                .navbar-end {
                    transition: 0.7s;
                    .ListeMenu {
                        color: #000;
                        display: block;
                        padding: 1rem 1rem 0rem 1rem;
                        &:hover {
                            background:#fff;
                            transition: 0.7s;
                            &:after {
                                width: 100%;
                                background:#000;
                                margin-top: 0.1em;
                            }
                        }
                        &:after {
                            content: '';
                            display: block;
                            margin: auto;
                            margin-top: auto;
                            height: 0.2em;
                            width: 0;
                            background:transparent;
                            transition: width .15s ease,background-color .5s ease;
                            margin-top: 0.375em;
                        }
                    }
                }
            }
        }
        .ContactButton {
            background: #1E90FF;
            transition: background-color .6s ease;
            transition: 0.7s;
            &:hover {
                background: #1E90FF;
            }
        }
    }
}
.MenuScroll {
    position: fixed;
    width: 100%;
    background:#1E90FF;
    z-index: 999;
    transition: 0.7s;
    .navbar {
        background-color: #1E90FF;
        transition: 0.7s;
        .Logo {
            color: #fff;
            display: block;
            padding: 0.9rem .75rem 0rem .75rem;
            font-weight: bold;
            font-family: 'IBM Plex Mono', monospace;
            &:hover {
                &:after {
                    width: 100%;
                    background:#fff;
                    margin-top: 0.1em;
                }
            }
            &:after {
                content: '';
                display: block;
                margin: auto;
                margin-top: auto;
                height: 0.2em;
                width: 0;
                background:transparent;
                transition: width .15s ease,background-color .5s ease;
                margin-top: 0.375em;
            }
        }
        .navbar-menu {
            padding: 0;
        }
        .navbar-end {
            transition: 0.7s;
            .ListeMenu {
                color: #fff;
                display: block;
                padding: 1rem 1rem 0rem 1rem;
                &:hover {
                    background:#1E90FF;
                    transition: 0.7s;
                    &:after {
                        width: 100%;
                        background:#fff;
                        margin-top: 0.1em;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    margin: auto;
                    margin-top: auto;
                    height: 0.2em;
                    width: 0;
                    background:transparent;
                    transition: width .15s ease,background-color .5s ease;
                    margin-top: 0.375em;
                }
            }
            @media (max-width: $breakpoint-tablet) {
                background-color: #1E90FF;
                .navbar-menu {
                    padding: 0;
                    .ListeMenu {
                        color: #fff;
                        display: block;
                        padding: 1rem 1rem 0rem 1rem;
                        background-color: #1E90FF;
                        transition: 1s;
                        &:hover {
                            background:#1E90FF;
                            &:after {
                                width: 100%;
                                background:#fff;
                                margin-top: 0.1em;
                            }
                        }
                        &:after {
                            content: '';
                            display: block;
                            margin: auto;
                            margin-top: auto;
                            height: 0.2em;
                            width: 0;
                            background:transparent;
                            transition: width .15s ease,background-color .5s ease;
                            margin-top: 0.375em;
                        }
                    }
                }  
            }  
        }
        .ContactButton {
            background: #fff;
            color: #1E90FF;
            transition: background-color .6s ease;
        }
    }
}

// ********** **********
// ********** SASS / CSS FOOTER
// ********** **********
#FooterStart {
    h2 {
        font-family: 'Comic Neue', cursive;
        font-size: 1.5em;
        margin: 0em 0em 1em 0em;
    }
    a {
        margin: 1em 0em 1em 0em;
        padding: 0em 1.5em;
    }
}
#FooterEnd {
    text-align: center;
    padding: 1em 0em;
    a {
        text-decoration: none;
        color: #FFF;
        &:hover {
            color: #FFF;
            text-decoration: underline;
        }
    }
}
